
01.Kotlin-Basics/01.Introduction-to-Kotlin/.idea/.name
01.Kotlin-Basics/01.Introduction-to-Kotlin/.idea/gradle.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/.idea/misc.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/.idea/vcs.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/build.gradle
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/proguard-rules.pro
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/androidTest/java/vanloc1808/helloworld/ExampleInstrumentedTest.kt
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/AndroidManifest.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/java/vanloc1808/helloworld/FirstFragment.kt
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/java/vanloc1808/helloworld/MainActivity.kt
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/java/vanloc1808/helloworld/SecondFragment.kt
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/drawable/ic_launcher_background.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/layout/activity_main.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/layout/content_main.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/layout/fragment_first.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/layout/fragment_second.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/menu/menu_main.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-hdpi/ic_launcher.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-mdpi/ic_launcher.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/navigation/nav_graph.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/values-land/dimens.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/values-night/themes.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/values-w1240dp/dimens.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/values-w600dp/dimens.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/values/colors.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/values/dimens.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/values/strings.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/main/res/values/themes.xml
01.Kotlin-Basics/01.Introduction-to-Kotlin/app/src/test/java/vanloc1808/helloworld/ExampleUnitTest.kt
01.Kotlin-Basics/01.Introduction-to-Kotlin/build.gradle
01.Kotlin-Basics/01.Introduction-to-Kotlin/gradle.properties
01.Kotlin-Basics/01.Introduction-to-Kotlin/gradle/wrapper/gradle-wrapper.jar
01.Kotlin-Basics/01.Introduction-to-Kotlin/gradle/wrapper/gradle-wrapper.properties
01.Kotlin-Basics/01.Introduction-to-Kotlin/gradlew
01.Kotlin-Basics/01.Introduction-to-Kotlin/gradlew.bat
01.Kotlin-Basics/01.Introduction-to-Kotlin/hello_world.kt
01.Kotlin-Basics/01.Introduction-to-Kotlin/settings.gradle
